.root {
  text-align: center;
}

.btn {
  width: 220px;
  border: 1px solid lightgrey !important;
  text-transform: none !important;
  color: black !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  text-align: right !important;
  justify-content: space-between !important;
  margin: 0 auto 1vh auto !important;
}

.icon {
  width: 20px;
}
