.root {
  border-top: 1px dashed black;
  text-align: center;
  margin-top: 4rem;
}

.sponge {
  height: 4vmin !important;
  pointer-events: none;
}

.list {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.list > li {
  margin-right: 1rem;
}
